# === Dockerignore Files === #


# - Virtual Environment
.venv/

# - Env Value File
.env*
!.env.example

# - Logs
logs/


# - Editor Setting Files (Pycharm, VSCode ...)
.idea/
.vscode/

# - Cache Files
__pycache__/
*.pyc

# - MacOS System Files
.DS_Store